@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div.conteneur {
  width: 252px;
  background-color:darkslategray;
  border: 5px solid cyan;
}

div.conteneur > h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
}

div.solitaire {
  width: 252px;
  height: 252px;
  border-top: 5px solid cyan;
  border-bottom: 5px solid cyan;
  background-color:darkslategray;
}
div.solitaire > div.row {
  display: flex;
  justify-content: center;
}

div.solitaire > div.row > div.cell {
  
  width: 30px;
  height: 30px;
  
}

.active {
  background-color: lime;
  border: 3px solid blueviolet;
}

.inactive {
  background-color: white;
  border: 3px solid blueviolet;
}

.forbiden {

}

.selected {
  border: 3px solid red;
}

div.historique {
  height: 150px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 127, 127);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(127, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lime;
}

div.historique > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

div.historique > ul > li {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0;
  
}

div.historique > ul > li > button {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  height: auto;
  border-top: 5px solid cyan;
  margin: 0;
  padding: 5px 0;
  background-color: rgb(0, 127, 0); /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}